<mat-toolbar color="primary">
  <span>Angular Firebase</span>
</mat-toolbar>
<div class="main-container">
  <div fxLayout="row" fxLayout.xs="column">
    <mat-card fxFlex="33.3%;" fxFlex.xs="80%" class="example-card">
      <mat-card-header>
        <mat-card-title>Cloud Firestore</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/angular-firebase.png"
        alt="Cloud Firebase"
      />
      <mat-card-content>
        <p>
          CRUD de Heroes con Cloud Firestore.
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <a
          href="https://angular-firebase-daa56.firebaseapp.com/"
          target="_blank"
          mat-stroked-button
          color="primary"
          >Ver mas...</a
        >
      </mat-card-actions>
    </mat-card>

    <mat-card fxFlex="33.3%;" fxFlex.xs="80%" class="example-card">
      <mat-card-header>
        <mat-card-title>Chat</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/angular-firechat.png"
        alt="Firebase Chat"
      />
      <mat-card-content>
        <p>
          Chat con login federado
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <a
          href="https://angular-firechat-85d3f.firebaseapp.com/"
          target="_blank"
          mat-stroked-button
          color="primary"
          >Ver mas...</a
        >
      </mat-card-actions>
    </mat-card>
    <mat-card fxFlex="33.3%;" fxFlex.xs="80%" class="example-card">
      <mat-card-header>
        <mat-card-title>Storage</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/angular-firestorage.png"
        alt="Firebase Storage"
      />
      <mat-card-content>
        <p>
          Aplicación para cargar imágenes.
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <a
          href="https://angular-firestorage.firebaseapp.com/photos"
          target="_blank"
          mat-stroked-button
          color="primary"
          >Ver mas...</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<footer class="footer">
  <div layout="row" layout-align="center center">
    <h3><i>Angular & Firebase - @betancourtYeison</i></h3>
  </div>
</footer>
